* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.6px;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-x: inherit;
}


body {
  background-color: #EEE8FF;

}

.nav {
  padding: 15px !important;
}

.a {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #4A2E19 !important;
  transition: all 0.3s;
}

.a:hover {
  color: rgb(30, 30, 174) !important;
}



@keyframes wiggle-more {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-wiggle-more {
  animation: wiggle-more 1s ease-in-out;
}

@media (max-width: 389px) {
  .profile {
    flex-wrap: wrap;
  }

  .profile-img {
    object-fit: fill;
  }
}

@media (min-width: 390px) and (max-width: 499px) {
  .profile-img {
    object-fit: fill;
  }

  #main-info {
    font-size: 0.88rem;
  }
  .profile-img{
    border: 0;
    height: 110px;
  }
}




  /* App.css */

/* تصميم اللودر */
.lds-roller {
  display: inline-block;
  position: fixed; /* استخدام fixed لتثبيت اللودر في المنتصف */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* تحريك العنصر إلى المنتصف */
  width: 80px;
  height: 80px;
  z-index: 9999; /* تأكيد أن اللودر يظهر فوق باقي العناصر */
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
    


.facebook-icon{
  width: 200px !important;
  height: 20 !important;
}
.icon-background { width: 100px; /* تحديد العرض */ height: 100px; /* تحديد الارتفاع */ background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" fill="%234267B2"><path d="M622 976V616h96l14-112h-110v-72q0-27 11.5-42.5T661 374h71V266q-29-3-66.5-4.5T632 260q-75 0-119 44t-44 124v76H364v112h105v360h153z"/></svg>') no-repeat center center; background-size: contain; /* التكيف مع حجم العنصر */ }