* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEE8FF;
}

.nav {
  padding: 15px !important;
}

.a {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #4A2E19 !important;
  transition: all 0.3s;
}

.a:hover {
  color: rgb(30, 30, 174) !important;
}