* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.6px;
}

body {
  background-color: #EEE8FF;
}

.nav {
  padding: 15px !important;
}

.a {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #4A2E19 !important;
  transition: all 0.3s;
}

.a:hover {
  color: rgb(30, 30, 174) !important;
}



@keyframes wiggle-more {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-wiggle-more {
  animation: wiggle-more 1s ease-in-out;
}

/* .animate-rotate-y {
  animation: fade-down 4s ease-in-out;

} */